body {
	background-image:url(images/tile.gif);
	background-position: 0 0;
	background-repeat: repeat;
	margin-top: 0px;
	}

.bodycopy {
	font-family:Arial, Helvetica, sans-serif;
	color:#005dab;
	font-size:12px;
	font-style:normal;
	font-weight:500;
	}

.Legalcopy {
	font-family:Arial, Helvetica, sans-serif;
	color:#005dab;
	font-size:10px;
	font-style:normal;
	font-weight:100;
	}

.Enrollcopy {
	font-family:Arial, Helvetica, sans-serif;
	color:#005dab;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	}

.LoginCopy {
	font-family:Arial, Helvetica, sans-serif;
	color:#0082c8;
	font-size:10px;
	font-weight:bold;
	}

.Earncopy {
	font-family:Arial, Helvetica, sans-serif;
	color:#005dab;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
	}

.Questionscopy {
	font-family:Arial, Helvetica, sans-serif;
	color:#0082c8;
	font-size:12px;
	font-style:normal;
	font-weight:500;
	}

.FAQuestions {
	font-family:Arial, Helvetica, sans-serif;
	color:#0082c8;
	font-size:12px;
	font-style:normal;
	font-weight:bolder;
	}


.BlueTitles {
	font-family:Arial, Helvetica, sans-serif;
	color:#014278;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
	}

.BIGBoxTitles {
	font-family:Arial, Helvetica, sans-serif;
	color:#014278;
	font-size:20px;
	font-style:normal;
	font-weight:bold;
	}

.subTitles {
	font-family:Arial, Helvetica, sans-serif;
	color:#005dab;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
	}

.GrnRewards {
	font-family:Arial, Helvetica, sans-serif;
	color:#b0c716;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	}

a.BIG:link {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
        font-size:14px;
	color:#014278;
	}

a.BIG:hover  {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	font-weight:bold;
        font-size:14px;
	color:#014278;
	}

a.BIG:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
        font-size:14px;
	color:#014278;
	}

a:link {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	font-weight:200;
	font-size:11px;
	color:#005dab;
	}

a:hover  {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	font-weight:200;
	font-size:11px;
	color:#0082c8;
	}

a:visited {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	font-weight:200;
	font-size:11px;
	color:#00376e;
	}

.revLink {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:200;
	font-size: 10px;
	color:#005dab;

}
a.revLink:active
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:200;
	font-size: 10px;
	color:#005dab;
	text-decoration: underline;
}
a.revLink:link
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:200;
	font-size: 10px;
	color: #00376e;
	text-decoration: underline;
}
a.revLink:visited
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:200;
	font-size: 10px;
	color: #00376e;
	text-decoration: underline;
}
a.revLink:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:200;
	font-size: 10px;
	color: #00376e;
	text-decoration: underline;
}

.FAQLink {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	font-size: 12px;
	color: #0082c8;

}
.FAQBIGLink
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	font-size: 12px;
	color: #0082c8;
}
a.FAQLink:active
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	font-size: 12px;
	color: #0082c8;
	text-decoration: underline;}a.FAQLink:link {	font-family:Arial, Helvetica, sans-serif;	font-weight:bolder;	font-size: 12px;	color: #0082c8;	text-decoration: underline;}a.FAQLink:visited {	font-family:Arial, Helvetica, sans-serif;	font-weight:bolder;	font-size: 12px;	color: #00376e;	text-decoration: underline;}a.FAQLink:hover {	font-family:Arial, Helvetica, sans-serif;	font-weight:bolder;	font-size: 12px;	color: #00376e;	text-decoration: underline;}.BOLDLink {	font-family:Arial, Helvetica, sans-serif;	font-weight:bolder;	font-size: 14px;	color: #0082c8;	}.BOLDBIGLink{	font-family:Arial, Helvetica, sans-serif;	font-weight:bolder;	font-size: 14px;	color: #0082c8;}a.BOLDLink:active{	font-family:Arial, Helvetica, sans-serif;	font-weight:bolder;	font-size: 14px;	color: #0082c8;	text-decoration: underline;}a.BOLDLink:link {	font-family:Arial, Helvetica, sans-serif;	font-weight:bolder;	font-size: 14px;	color: #0082c8;	text-decoration: underline;}a.BOLDLink:visited {	font-family:Arial, Helvetica, sans-serif;	font-weight:bolder;	font-size: 14px;	color: #00376e;	text-decoration: underline;}a.BOLDLink:hover {	font-family:Arial, Helvetica, sans-serif;	font-weight:bolder;	font-size: 14px;	color: #00376e;	text-decoration: underline;}